body .containerPrincipal footer h2, body .containerPrincipal footer h3 {
  font-size: 0.5rem;
  color: antiquewhite;
  font-weight: lighter;
  line-height: 1.5; }

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box; }

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Roboto, sans-serif; }
  body .containerPrincipal {
    width: 100vw;
    background-color: #ffffff;
    display: grid;
    grid-template-areas: "hdr" "nav" "main" "foo";
    grid-template-rows: 2.37rem 3rem auto 16.625rem; }
    body .containerPrincipal header {
      grid-area: hdr;
      background-color: #051367;
      text-align: center; }
      body .containerPrincipal header h1 {
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0; }
    body .containerPrincipal .barramenu {
      grid-area: nav;
      padding: 0; }
      body .containerPrincipal .barramenu .botonMenu {
        margin-left: 10%;
        background-color: #051367; }
        body .containerPrincipal .barramenu .botonMenu .iconMenu {
          background-color: #ffffff; }
      body .containerPrincipal .barramenu .offcanvas {
        max-width: 50%; }
    body .containerPrincipal #menuGrande {
      grid-area: nav;
      display: none; }
    body .containerPrincipal main {
      min-width: 100vw;
      font-size: 1.2rem;
      position: relative; }
      body .containerPrincipal main .img {
        max-width: 100%;
        display: block;
        margin: 0 auto 0 auto; }
      body .containerPrincipal main .portadaDos {
        opacity: 1;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 12;
        animation: foto 5s ease-in-out 2s 1 normal forwards; }
      body .containerPrincipal main .seccionPrincipalTres {
        width: 100vw; }
        body .containerPrincipal main .seccionPrincipalTres .container-fluid {
          padding: 0; }
      body .containerPrincipal main .seccionPrincipalNosotros {
        width: 100vw; }
        body .containerPrincipal main .seccionPrincipalNosotros .cf-dos {
          display: none; }
        body .containerPrincipal main .seccionPrincipalNosotros .cf-uno {
          display: block;
          padding: 0;
          padding-bottom: 1rem; }
          body .containerPrincipal main .seccionPrincipalNosotros .cf-uno .card {
            width: 100vw;
            margin-top: 1rem; }
            body .containerPrincipal main .seccionPrincipalNosotros .cf-uno .card img {
              display: none; }
            body .containerPrincipal main .seccionPrincipalNosotros .cf-uno .card .card-body .card-title {
              text-align: center;
              margin-bottom: 1rem; }
            body .containerPrincipal main .seccionPrincipalNosotros .cf-uno .card .card-body .card-text {
              text-align: justify; }
    body .containerPrincipal footer {
      grid-area: foo;
      background-color: #051367;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      text-align: center; }
      body .containerPrincipal footer .ulFooter {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0.5rem 0 0 0;
        padding: 0; }
        body .containerPrincipal footer .ulFooter li {
          margin: 0.625rem; }
          body .containerPrincipal footer .ulFooter li a {
            text-decoration: none;
            font-size: 0.625rem;
            font-weight: lighter;
            color: #faebd7; }
            body .containerPrincipal footer .ulFooter li a i {
              font-size: 3rem; }
      body .containerPrincipal footer h2 {
        margin-top: 0.5rem; }
      body .containerPrincipal footer h3 {
        font-size: 0.5rem; }
      body .containerPrincipal footer iframe {
        width: 50%;
        height: 50%;
        align-self: center; }

body .containerPrincipal footer h2, body .containerPrincipal footer h3 {
  font-size: 0.5rem;
  color: antiquewhite;
  font-weight: lighter;
  line-height: 1.5; }

@keyframes foto {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@media screen and (min-width: 1024px) {
  body .containerPrincipal {
    grid-template-areas: "hdr hdr hdr hdr" "nav nav nav nav" "main main main main" "foo foo foo foo";
    grid-template-rows: 3.12rem 3rem auto 9.37rem;
    background-color: #ffffff; }
    body .containerPrincipal header h1 {
      font-size: 3rem;
      line-height: 1; }
    body .containerPrincipal .barramenu {
      display: none; }
    body .containerPrincipal #menuGrande {
      display: block; }
      body .containerPrincipal #menuGrande .menuPrincipal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        background-color: #051367;
        border-top: 1px solid #ffffff;
        height: 100%;
        padding: 0; }
        body .containerPrincipal #menuGrande .menuPrincipal li {
          height: 100%;
          margin: 0 1.25rem 0 1.25rem; }
          body .containerPrincipal #menuGrande .menuPrincipal li a {
            display: inline-block;
            text-decoration: none;
            color: #f5f5f5;
            text-transform: uppercase;
            font-size: 1rem;
            height: 100%;
            line-height: 3;
            transition: all, 0.3s; }
            body .containerPrincipal #menuGrande .menuPrincipal li a:hover {
              color: #ffff00; }
    body .containerPrincipal main .portadaDos {
      left: 10.5%; }
    body .containerPrincipal main .seccionPrincipalTres {
      width: 50vw;
      margin: 0 auto 0 auto; }
      body .containerPrincipal main .seccionPrincipalTres .container-fluid .img-fluid {
        width: 80%;
        margin: 0 auto 0 auto; }
    body .containerPrincipal main .seccionPrincipalNosotros .cf-uno {
      display: none; }
    body .containerPrincipal main .seccionPrincipalNosotros .cf-dos {
      display: block;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      body .containerPrincipal main .seccionPrincipalNosotros .cf-dos .card .row .col-md-4 img {
        width: 80%; }
      body .containerPrincipal main .seccionPrincipalNosotros .cf-dos .card .row .col-md-8 .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    body .containerPrincipal footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      body .containerPrincipal footer h2 {
        margin-top: 0; }
      body .containerPrincipal footer .ulFooter {
        margin: 0; }
      body .containerPrincipal footer iframe {
        width: 40%;
        height: 80%; } }
