/* reset*/
*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* contenedor principal */

div.containerPrincipal{
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-areas: "hdr"
                         "nav"
                         "main"
                         "foo";
    grid-template-rows: 2.37rem 3rem auto 16.625rem ;
}

/* fin contenedor principal */

/* header */

header{
    grid-area: hdr;
    background-color: #051367;
    text-align: center;
}

header h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

/* fin header */

/* menu nav */

.barramenu{
    grid-area: nav;
    padding: 0;
}

#menuGrande{
    grid-area: nav;
    display: none;
}
.botonMenu{
    margin-left: 10%;
    background-color: #051367;
}
.iconMenu{
    background-color: white;
}
.offcanvas{
    max-width: 50%;
}

/* fin menu nav */

/* main */

main{
    min-width: 100vw;
    font-size: 1.2rem;
    position: relative;
}

/* fin main */

/* estilos galeria */

main section.seccionPrincipalTres{
    width: 100vw;
}

.container-fluid{
    padding: 0;
}

/* fin estilos galeria */

/* contenido main index */

main img.img{
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}

img.portadaDos{
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 12;
    animation: foto 5s ease-in-out 2s 1 normal forwards;
}

@keyframes foto {
    from{
        opacity: 1;
    }
    
    to{
        opacity: 0;
    }
}

/* fin contenido main index */

/* contenido footer */

footer{
    grid-area: foo;
    background-color: #051367;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
}

footer ul.ulFooter{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 0 0 0;
    padding: 0;
}

footer ul.ulFooter li{
    margin: 0.625rem;
}

footer ul.ulFooter li a{
    text-decoration: none;
    font-size: 0.625rem;
    font-weight: lighter;
    color: antiquewhite;
}

footer ul.ulFooter li a i{
    font-size: 3rem;
}

footer h2{
    margin-top: 0.5rem;
}

footer h2,h3{
    font-size: 0.5rem;
    color: antiquewhite;
    font-weight: lighter;
    line-height: 1.5;
}

footer iframe{
    width: 50%;
    height: 50%;
    align-self: center;
}

/* fin contenido footer */


/* M Q */

@media screen and (min-width:1024px) {
    
    div.containerPrincipal{
        background-color: white;
    }
    header h1{
        font-size: 3rem;
        line-height: 1;
    }
    div.containerPrincipal{
        grid-template-areas: "hdr hdr hdr hdr"
                             "nav nav nav nav"
                             "main main main main"
                             "foo foo foo foo";

        grid-template-rows: 3.12rem 3rem auto 9.37rem ;
    }
    main img.portadaDos{
        left: 10.5%;
    }
    main section.seccionPrincipalTres{
        width: 50vw;
        margin: 0 auto 0 auto;
    }
    .barramenu{
        display: none;
    }
    #menuGrande{
        display: block;
    }
    nav ul.menuPrincipal{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        background-color: #051367;
        align-items: center;
        border-top: 1px solid white;
        height: 100%;
        padding: 0;
    }
    nav ul.menuPrincipal li{
        height: 100%;
    }
    nav ul.menuPrincipal li a{
        display: inline-block;
        text-decoration: none;
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 1rem;
        height: 100%;
        line-height: 3;
        transition:all,0.3s;
    }
    nav ul.menuPrincipal li a:hover{
        color:yellow;
    }
    .img-fluid{
        width: 80%;
        margin: 0 auto 0 auto;
    }
    footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    footer h2{
        margin-top: 0;
    }
    footer ul.ulFooter{
        margin: 0;
    }
    footer iframe{
        width: 40%;
        height: 80%;
    }
       
}
