//imports 
@import "utilities/variables";
@import "utilities/estructura";
@import "utilities/mixins_extends";

@media screen and (min-width:600px) {
    body{
        .containerPrincipal{
            main{
                .seccionPrincipalContacto{
                    min-height: 31.25rem;
                    .container-fluid{
                        min-height: 31.25rem;
                        form{
                            margin: 0 auto 0 auto;
                            max-width: 70vw;
                            overflow: visible;
                            min-height: 28.125rem;
                        }
                    }
                }
                .seccionPrincipalTips{
                    article{
                        .cf-uno{
                            .card{
                                min-height: 35rem;
                                iframe{
                                    max-width: 50vw;
                                    min-height: 40vh;
                                }
                            }
                        }
                    }
                }
                .seccionPrincipalTres{
                    .container-fluid{
                        max-width: 60vw;
                    }
                }
            } 
            .mainIndex{
                .imgIndexMobile{
                    margin: 0 auto 0 auto;
                    max-width: 70vw;
                }
            }
        }
    }
}
@media screen and (min-width:1024px) {
    body {
        .contIndex {
            background-image: url("../multimedia/resized/fondo.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .containerPrincipal {
            max-width: $width-vw;
            grid-template-areas: "hdr hdr hdr hdr"
                "main main main main"
                "foo foo foo foo";
            grid-template-rows: 4rem 35rem 9.37rem;
            background-color: map-get($map: $colores, $key: blanco);

            header {
                width: 100%;
                grid-area: hdr;
                position: fixed;
                top: 0px;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                display: grid;
                grid-template-areas: "tit menu";
                grid-template-columns: auto 30rem;
                background-color: transparent;
                min-height: 4rem;
                z-index: 1000;

                h1 {
                    margin-right: 2rem;
                    justify-self: end;
                    display: inline-block;
                    grid-area: tit;
                    font-size: 3rem;
                    line-height: 1;
                }

                #menuGrande {
                    grid-area: menu;
                    display: inline-block;

                    .menuPrincipal {
                        @include flex(row) {
                            justify-content: center;
                            align-items: center;
                        }

                        ;
                        margin: 0;
                        list-style-type: none;
                        background-color:transparent;
                        height: 100%;
                        padding: 0;

                        li {
                            height: 100%;
                            margin: 0 0.5rem 0 0.5rem;

                            a {
                                display: inline-block;
                                text-decoration: none;
                                color: map-get($map: $colores, $key: blanco);
                                text-transform: uppercase;
                                font-weight: bold;
                                font-size: 1rem;
                                height: 100%;
                                line-height: 3;
                                transition: all, 0.3s;

                                &:hover {
                                    color: map-get($map: $colores, $key: amarillo);
                                }
                            }
                        }
                    }
                }
            }

            header.headerTextColor {
                background-color: map-get($map: $colores, $key: blanco);

                h1 {
                    color: map-get($map: $colores, $key: azul);
                }

                #menuGrande {
                    .menuPrincipal {
                        li {
                            a {
                                color: map-get($map: $colores, $key: azul);

                                &:hover {
                                    color: map-get($map: $colores, $key: amarillo);
                                }
                            }
                        }
                    }
                }
            }

            .barramenu {
                display: none;
            }

            .mainIndex {
                height: 100vmin;
                .imgIndexMobile{
                    display: none;
                }
            }

            main {

                grid-area: main;
                width: 100vw;
                height: 100vh;

                .whatsapp-icon {
                    bottom: 1.25rem;
                    right: 0.625rem;
                    margin: 0;
                    z-index: 1000;
                }

                .seccionPrincipalTres {
                    width: 50vw;
                    margin: 0 auto 0 auto;

                    .container-fluid {
                        .img-fluid {
                            width: 80%;
                            margin: 0 auto 0 auto;
                        }
                    }
                }

                .seccionPrincipalNosotros {
                    min-height: 100vh;
                    padding-top: 2rem;

                    .cf-uno {
                        display: none;
                    }

                    .cf-dos {
                        margin: 0;
                        padding: 0 1rem 0 1rem;
                        min-height: 80vh;
                        display: block;

                        @include flex(row) {
                            justify-content: center;
                        }

                        ;

                        .card {
                            border: none;
                            padding-bottom: 0;

                            .row {
                                flex-wrap: nowrap;
                                min-height: 100%;
                                align-content: center;

                                .col-md-5 {
                                    img {
                                        width: 90%;
                                    }
                                }

                                .col-md-7 {
                                    border: 1px solid black;
                                    border-radius: 5px;

                                    @include flex(column) {
                                        justify-content: center;
                                    }

                                    .card-body {
                                        @include flex(column) {
                                            justify-content: space-evenly;
                                            align-items: center
                                        }

                                        ;

                                        h5 {
                                            justify-self: end
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .seccionPrincipalTips {
                    .cf-uno {
                        display: none;
                    }

                    .cf-dos {
                        margin-top: 3rem;
                        display: block;

                        @include flex(row) {
                            justify-content: center;
                        }

                        ;

                        .card {
                            .row {
                                .col-md-5 {
                                    position: relative;
                                    height: 0;
                                    padding-bottom: 28%;
                                    overflow: hidden;

                                    .video {
                                        margin-top: 1.56rem;
                                        position: relative;
                                        height: 0;
                                        overflow: hidden;
                                        padding-bottom: 56.2%;

                                        iframe {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }

                                }

                                .col-md-7 {
                                    max-height: 25rem;
                                    display: flex;
                                    align-content: center;

                                    .card-body {
                                        @include flex(column) {
                                            justify-content: center;
                                            align-items: center
                                        }

                                        ;
                                    }
                                }
                            }
                        }
                    }
                }

                .seccionPrincipalContacto {
                    .container-fluid {
                        form {
                            overflow: visible;
                            background-color: map-get($map: $colores, $key: azul);
                            width: 30vw;
                            margin: 1rem auto 2rem auto;
                            padding: 1rem;
                            border: 1px solid rgb(226, 225, 225);

                            h4 {
                                color: map-get($map: $colores, $key: blanco);
                                text-align: center;
                                margin-bottom: 1rem;
                            }

                            label {
                                color: map-get($map: $colores, $key: blanco);
                            }

                            .botonesForm {
                                @include flex(row) {
                                    justify-content: space-around;
                                }

                                ;
                            }
                        }
                    }
                }

            }

            footer {
                grid-area: foo;

                @include flex(row) {
                    justify-content: space-evenly;
                    align-items: center
                }

                ;

                h2 {
                    margin-top: 0;
                }

                .ulFooter {
                    margin: 0;
                }

                iframe {
                    width: 40%;
                    height: 80%;
                }
            }
        }
    }
}
