//imports 
@import "utilities/variables";
@import "utilities/estructura";
@import "utilities/mixins_extends";

@keyframes foto {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (min-width:1024px) {
    body {
        .containerPrincipal {
            grid-template-areas: "hdr hdr hdr hdr"
                "nav nav nav nav"
                "main main main main"
                "foo foo foo foo";
            grid-template-rows: 3.12rem 3rem auto 9.37rem;
            background-color: map-get($map: $colores, $key: blanco);

            header {
                h1 {
                    font-size: 3rem;
                    line-height: 1;
                }
            }

            .barramenu {
                display: none;
            }

            #menuGrande {
                display: block;

                .menuPrincipal {
                    @include flex(row) {
                        justify-content: center;
                        align-items: center;
                    }

                    ;
                    list-style-type: none;
                    background-color: map-get($map: $colores, $key: azul);
                    border-top: 1px solid map-get($map: $colores, $key: blanco);
                    height: 100%;
                    padding: 0;

                    li {
                        height: 100%;
                        margin: 0 1.25rem 0 1.25rem;

                        a {
                            display: inline-block;
                            text-decoration: none;
                            color: map-get($map: $colores, $key: blancosmoke);
                            text-transform: uppercase;
                            font-size: 1rem;
                            height: 100%;
                            line-height: 3;
                            transition: all, 0.3s;

                            &:hover {
                                color: map-get($map: $colores, $key: amarillo);
                            }
                        }
                    }
                }
            }

            main {
                .portadaDos {
                    left: 10.5%;
                }

                .seccionPrincipalTres {
                    width: 50vw;
                    margin: 0 auto 0 auto;

                    .container-fluid {
                        .img-fluid {
                            width: 80%;
                            margin: 0 auto 0 auto;
                        }
                    }
                }

                .seccionPrincipalNosotros {
                    .cf-uno{
                        display: none;
                    }
                    .cf-dos{
                        display: block;
                        @include flex(row){justify-content: center;};
                        .card{
                            .row{
                                .col-md-4{
                                    img{
                                        width: 80%;
                                    }
                                }
                                .col-md-8{
                                    .card-body{
                                        @include flex(column){justify-content:center;align-items: center};  
                                    }
                                }
                            }
                        }
                    }
                }

                .seccionPrincipalTips {
                    .cf-uno{
                        display: none;
                    }
                    .cf-dos{
                        display: block;
                        @include flex(row){justify-content: center;};
                        .card{
                            .row{
                                .col-md-5{
                                    position: relative;
                                    height: 0;
                                    padding-bottom: 30%;
                                    overflow: hidden;
                                    iframe{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .col-md-7{
                                    .card-body{
                                        @include flex(column){justify-content:center;align-items: center};  
                                    }
                                }
                            }
                        }
                    }
                }

            }

            footer {
                @include flex(row) {
                    justify-content: space-evenly;
                    align-items: center
                }

                ;

                h2 {
                    margin-top: 0;
                }

                .ulFooter {
                    margin: 0;
                }

                iframe {
                    width: 40%;
                    height: 80%;
                }
            }
        }
    }
}
