@import "mixins_extends";

*{
    margin:$m-reset;
    padding:$p-reset;
    font-size:$font-reset;
    box-sizing:$box-reset;
}

body{
    width: $width-vw;
    min-height: $heigth-vh;
    font-family: $f-family;
    .containerPrincipal{
        width: $width-vw;
        background-color: map-get($map: $colores, $key: blanco);
        display: grid;
        grid-template-areas: "hdr"
                             "nav"
                             "main"
                             "foo";
        grid-template-rows: 2.37rem 3rem auto 16.625rem;
        header{
            grid-area: hdr;
            background-color: map-get($map: $colores, $key: azul);
            text-align: center;
            h1{
                font-size: 2rem;
                font-weight:900;
                text-transform: uppercase;
                color: map-get($map: $colores, $key: blanco);
                margin: 0;
            }
        }
        .barramenu{
            grid-area: nav;
            padding: 0;
            .botonMenu{
                margin-left: 10%;
                background-color: map-get($map: $colores, $key: azul);
                .iconMenu{
                    background-color: map-get($map: $colores, $key: blanco);
                }
            }
            .offcanvas{
                max-width: 50%;
            }
        }
        #menuGrande{
            grid-area: nav;
            display: none;
        }
        main{
            min-width: $width-vw;
            font-size: 1.2rem;
            position: relative;
            .img{
                max-width: 100%;
                display: block;
                margin: 0 auto 0 auto;
            }
            .portadaDos{
                opacity: 1;
                position: absolute;
                top: 0%;
                left: 0%;
                z-index: 12;
                animation: foto 5s ease-in-out 2s 1 normal forwards;
            }
            .seccionPrincipalTres{
                width: $width-vw;
                .container-fluid{
                    padding: 0;
                }
            }
            .seccionPrincipalNosotros{
                width: $width-vw;
                .cf-dos{
                    display: none;
                }
                .cf-uno{
                    display: block;
                    padding: 0;
                    padding-bottom: 1rem;
                    .card{
                        width: $width-vw;
                        margin-top: 1rem;
                        img{
                            display: none;
                        }
                        .card-body{
                            .card-title{
                                text-align: center;
                                margin-bottom: 1rem;
                            }
                            .card-text{
                                text-align: justify;
                            }
                        }
                    }
                }
            }
        }
        footer{
            grid-area: foo;
            background-color: map-get($map: $colores, $key: azul);
            @include flex(column){align-items: stretch; text-align: center};
            .ulFooter{
                list-style-type: none;
                @include flex(row){justify-content: center};
                margin: 0.5rem 0 0 0;
                padding: 0;
                li{
                    margin: 0.625rem;  
                    a{
                        text-decoration: none;
                        font-size: 0.625rem;
                        font-weight: lighter;
                        color: map-get($map: $colores, $key: blancoantiguo);
                        i{
                            font-size: 3rem;  
                        }
                    }
                }
            }
            h2{
                margin-top: 0.5rem;
                @extend %textoFooter;
            }
            h3{
                font-size: 0.5rem;
                @extend %textoFooter;
            }
            iframe{
                width: 50%;
                height: 50%;
                align-self: center;
            }
        }   
    }
}
