@import "mixins_extends";

*{
    margin:$m-reset;
    padding:$p-reset;
    font-size:$font-reset;
    box-sizing:$box-reset;
}

body{
    width: $width-vw;
    min-height: $heigth-vh;
    font-family: $f-family;
    .containerPrincipal{
        width: $width-vw;
        background-color: map-get($map: $colores, $key: blanco);
        display: grid;
        grid-template-areas: "hdr"
                             "nav"
                             "main"
                             "foo";
        grid-template-rows: 2.37rem 3rem auto 17rem;
        header{
            grid-area: hdr;
            background-color: map-get($map: $colores, $key: azul);
            text-align: center;
            h1{
                font-size: 2rem;
                font-weight:900;
                text-transform: uppercase;
                color: map-get($map: $colores, $key: blanco);
                margin: 0;
            }
            #menuGrande{
                display: none;
            }
        }
        .barramenu{
            grid-area: nav;
            padding: 0;
            .botonMenu{
                margin-left: 10%;
                background-color: map-get($map: $colores, $key: azul);
                .iconMenu{
                    background-color: map-get($map: $colores, $key: blanco);
                }
            }
            .offcanvas{
                max-width: 50%;
            }
        }
        main{
            min-width: $width-vw;
            font-size: 1.2rem;
            position: relative;
            .whatsapp-icon{
                max-width: 3rem;
                max-height: 3rem;
                position:fixed;
                text-align: center;
                bottom: 4rem;
                right: 1rem;
                z-index: 1000;
                img{
                    width: 100%;
                }
            }
            .img{
                max-width: 100%;
                display: block;
                margin: 0 auto 0 auto;
            }
            .seccionPrincipalTres{
                width: $width-vw;
                .container-fluid{
                    padding: 0;
                }
            }
            .seccionPrincipalNosotros{
                width: $width-vw;
                .cf-dos{
                    display: none;
                }
                .cf-uno{
                    display: block;
                    padding: 0;
                    padding-bottom: 1rem;
                    .card{
                        width: $width-vw;
                        margin-top: 1rem;
                        img{
                            display: none;
                        }
                        .card-body{
                            .card-title{
                                text-align: center;
                                margin-bottom: 1rem;
                            }
                            .card-text{
                                text-align: justify;
                            }
                        }
                    }
                }
            }

            .seccionPrincipalTips{
                width: $width-vw;
                .cf-dos{
                    display: none;
                }
                .cf-uno{
                    display: block;
                    padding: 0;
                    padding-bottom: 1rem;
                    .card{
                        width: $width-vw;
                        iframe{
                            margin: 0.625rem auto 0 auto;
                            width: 85vw;
                            height: 35vh;
                        }
                        .card-body{
                            .card-title{
                                text-align: center;
                                margin-bottom: 1rem;
                            }
                            .card-text{
                                text-align: justify;
                            }
                        }
                    }
                }
            }
            .seccionPrincipalContacto{
                max-height: 70vh;
                .container-fluid{
                    max-height: 70vh;
                    form{
                        overflow: scroll;
                        max-height: 70vh;
                        padding: 0.5rem;
                        border: 1px solid rgb(226, 225, 225);
                        margin-bottom: 1rem;
                        h4{
                            text-align: center;
                            margin-bottom: 1rem;
                            font-size: 1rem;
                        }
                        .mb-3{
                            label{
                                font-size: 0.900rem;
                            }
                        }
                        .botonesForm{
                            margin-top: 0.700rem;
                            button{
                                width: 20%;
                                height: 10%;
                                font-size: 0.600rem;
                            }
                        }
                    }
                }
            }
        }
        .mainIndex{
            .imgIndexMobile{
                display: block;
                width: $width-vw;
                img{
                    width: 100%;
                }
            }
        }
        footer{
            grid-area: foo;
            background-color: map-get($map: $colores, $key: azul);
            @include flex(column){align-items: stretch; text-align: center};
            .ulFooter{
                list-style-type: none;
                @include flex(row){justify-content: center};
                margin: 0.5rem 0 0 0;
                padding: 0;
                li{
                    margin: 0.625rem;  
                    a{
                        text-decoration: none;
                        font-size: 0.625rem;
                        font-weight: lighter;
                        color: map-get($map: $colores, $key: blancoantiguo);
                        i{
                            font-size: 3rem;  
                        }
                    }
                }
            }
            h2{
                margin-top: 0.5rem;
                @extend %textoFooter;
            }
            h3{
                font-size: 0.5rem;
                @extend %textoFooter;
            }
            iframe{
                width: 45%;
                height: 45%;
                align-self: center;
                overflow: hidden;
            }
        }   
    }
}
